.containerInput {
    width: 883px;
    height: 160x;
    background: #FFFFFF;
    border-radius: 60px;
    display: flex;
    align-items: center;
    gap: 37px;
    padding: 48px;

    &__input {
        font-size: 48px;
        font-weight: 400;
        width: 100%;
        border: none;
        outline: none;
    }
}