.personDataIDPage {
  // background: url("../../shared/assets/foto/fon/tank_fon.png");
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
