@use '../../../app/styles/variables.scss' as *;

.button {
    background: $color-white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &__arrow {
        min-width: 160px;
        min-height: 160px;
        border-radius: 60px;
    }

    &__cross {
        width: 128px;
        height: 128px;
        border-radius: 64px;
    }
}